/* INPUT GIỐNG FACEBOOK */
.fb-input {
    -fx-background-color: white;
    -fx-background-radius: 999;
    -fx-border-radius: 999;
    -fx-border-color: #ccd7f0;
    -fx-border-width: 1;
    -fx-pref-height: 52px;
    -fx-font-size: 15px;
    -fx-text-fill: #1c1e21;
    -fx-prompt-text-fill: #8a8d91;
    -fx-padding: 0 44 0 18;
}

.fb-input:focused {
    -fx-border-color: #1877f2;
    -fx-border-width: 2;
}

/* NÚT ĐĂNG NHẬP FACEBOOK */
.fb-button {
    -fx-background-color: #1877f2;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 999;
    -fx-pref-height: 52px;
    -fx-cursor: hand;
}

.fb-button:hover {
    -fx-background-color: #166fe5;
}

/* LINK QUÊN MẬT KHẨU */
.fb-link {
    -fx-background-color: transparent;
    -fx-text-fill: #1877f2;
    -fx-font-size: 14px;
}
.eye-button {
    -fx-background-color: transparent;

    /* Gán ảnh */
    -fx-graphic: url("/view/image/icon/eye.png");

    /* KÍCH THƯỚC NÚT (QUAN TRỌNG) */
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;

    /* Căn icon */
    -fx-alignment: center;

    /* Tránh icon dính sát */
    -fx-padding: 0;

    -fx-cursor: hand;
}


.eye-open {
    -fx-graphic: url("/view/image/icon/eye-off.png");
}
.action-button {
    -fx-background-color: #1877f2;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;

    -fx-background-radius: 26;
    -fx-pref-height: 52px;

    -fx-cursor: hand;
}

.action-button:hover {
    -fx-background-color: #166fe5;
}
.link-button {
    -fx-background-color: transparent;
    -fx-text-fill: #1877f2;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.link-button:hover {
    -fx-underline: true;
}

